@{
    ViewData["Title"] = "Home Page";
}

<!--CONTAINER PRINCIPAL-->
<div class="container">

    <div id="alert-div">

    </div>
    <!--LINHA DE CARDS DE SAQUE E DEPOSITO-->
    <div class="row">
        <div class="col-md-6">
            <!--CARD SAQUE-->
            <div class="card-saque">
                <form asp-action="RealizarSaque"  method="post" data-ajax="true" data-ajax-method="post" data-ajax-begin="loading" data-ajax-success="saqueSuccess" data-ajax-failure="saqueError" data-ajax-complete="saqueCompleted">
                    <label for="saque-input">Realizar Saque</label>
                    <div class="input-group mb-3">

                        <input type="number" class="form-control" id="saque-input" name="valorSaque" placeholder="Insira um Valor para Sacar">
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-green" type="submit">Sacar</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <!--CARD DEPOSITO-->
            <div class="card-deposito">
                <form asp-action="RealizarDeposito" method="post" data-ajax="true" data-ajax-method="post"  data-ajax-begin="loading" data-ajax-success="depositoSuccess" data-ajax-failure="depositoError" data-ajax-complete="depositoCompleted">
                    <label for="deposito-input">Realizar Depósito</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="deposito-input" name="valorDeposito" placeholder="Insira um Valor para Depositar">
                        <div class="input-group-append">
                            <button class="btn btn-primary btn-green" type="submit">Depositar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <hr />

    <!--CARD DE EXTRATO-->
    <form asp-action="ObterExtrato" data-ajax="true" data-ajax-method="get" data-ajax-mode="replace" data-ajax-update="#extrato-main-div" data-ajax-begin="loading" data-ajax-complete="extratoCompleted">
        <div class="row">
            <!--FORM DE PESQUISA-->

            <div class="col-md-5">

                <!--DATA INICIAL-->
                <div class="form-group">
                    <label for="data-inicio-ipt">Data Inicial</label>
                    <input type="date" class="form-control" id="data-inicial-ipt" name="dataInicial" placeholder="Data Inicial">
                </div>
            </div>
            <div class="col-md-5">
                <!--DATA FINAL-->
                <div class="form-group">
                    <label for="data-final-ipt">Data Final</label>
                    <input type="date" class="form-control" id="data-final-ipt" name="dataFinal" placeholder="Data Final">
                </div>
            </div>
            <div class="col-md-2">
                <!--BOTAO CONFIRMAR-->
                <button class="btn btn-primary btn-green" style="margin-top:3.3vh;width:100%">Exibir Extrato</button>
            </div>

        </div>
    </form>

    <hr />
    <div class="row">
        <!--TABELA-->
        <div class="col-md-12">
            <div id="extrato-main-div">
                
            </div>
        </div>
    </div>
</div>